output "eDP-2" {
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes
    mode "3440x1440@165.000"
    scale 1
    transform "normal"
    position x=1280 y=0
}


