window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"pavucontrol$"# title="^Volume Control$"
    open-floating true
}

window-rule {
    match app-id="vesktop"
    open-floating true
}

window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match is-active=false
    opacity 0.85
}

